<p>
	the output testing space works!
</p>
<app-primeng-table-toolbar table="publication" [initalConfiguration]="{
	copyButton: {
		disable: false,
		visable: true
	},
	deleteButton: {
		disable: false,
		visable: true
	},
	detailButton: {
		disable: false,
		visable: true
	},
	editButton: {
		disable: false,
		visable: true
	},
	graphButton: {
		disable: false,
		visable: true
	},
	newButton: {
		disable: false,
		visable: true
	},
	passwordButton: {
		disable: false,
		visable: true
	},
	saveButton: {
		disable: false,
		visable: true
	},
	tableButton: {
		disable: false,
		visable: true
	}
}"></app-primeng-table-toolbar>
—
<app-primeng-table table="publication" [searchBox]="true"></app-primeng-table>
